{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ asset('css/article.css') }}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-0"><img src="{{asset( 'uploads/images/article/')}}{{ article.image}}" /></div>
                            {% for image in article.images %}
                                <div class="tab-pane" id="pic-{{ image.id }}"><img src="{{asset( 'uploads/images/article/')}}{{ image.image}}" /></div>
                            {% endfor %}
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-0" data-toggle="tab"><img src="{{asset( 'uploads/images/article/')}}{{ article.image}}" /></a></li>
                            {% for image in article.images %}
                                <li><a data-target="#pic-{{ image.id }}" data-toggle="tab"><img src="{{asset( 'uploads/images/article/')}}{{ image.image}}" /></a></li>
                            {% endfor %}
                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">{{ article.title }}</h3>
                        {#                        <div class="rating">#}
                        {#                            <div class="stars">#}
                        {#                                <span class="fa fa-star checked"></span>#}
                        {#                                <span class="fa fa-star checked"></span>#}
                        {#                                <span class="fa fa-star checked"></span>#}
                        {#                                <span class="fa fa-star"></span>#}
                        {#                                <span class="fa fa-star"></span>#}
                        {#                            </div>#}
                        {#                            <span class="review-no">41 reviews</span>#}
                        {#                        </div>#}
                        <p class="product-description">{{ article.content | raw }}</p>
                        <label>Quantité :</label>
                        <div class="center">
                            <p>
                            </p><div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                            </div>
                            <p></p>
                        </div>
                        <h4 class="price">Prix: <span id="price">{{ article.price/100 }} €</span></h4>
                        {#                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>#}
                        {#                        <h5 class="sizes">sizes:#}
                        {#                            <span class="size" data-toggle="tooltip" title="small">s</span>#}
                        {#                            <span class="size" data-toggle="tooltip" title="medium">m</span>#}
                        {#                            <span class="size" data-toggle="tooltip" title="large">l</span>#}
                        {#                            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>#}
                        {#                        </h5>#}
                        {#                        <h5 class="colors">colors:#}
                        {#                            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>#}
                        {#                            <span class="color green"></span>#}
                        {#                            <span class="color blue"></span>#}
                        {#                        </h5>#}
                        <a id="checkout-button" href="" class="btn btn-success btn-lg btn-block text-uppercase">
                                                            <i class="fa fa-shopping-cart"></i> Acheter
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
        var max = {{ article.amount }};

        $('.quantity-right-plus').click(function(e){
        e.preventDefault();
        var quantity = parseInt($('#quantity').val());
        if(quantity != max) {
            $('#quantity').val(quantity + 1);
            var price = {{ article.price }} * (quantity+1) / 100;
            $('#price').text(price + " €");
        }
        $('#checkout-button').attr("href", "{{ path('base') }}");
        });

        $('.quantity-left-minus').click(function(e){
        e.preventDefault();
        var quantity = parseInt($('#quantity').val());
        if(quantity > 1) {
            $('#quantity').val(quantity - 1);
            var price = {{ article.price }} *
            (quantity - 1) / 100;
            $('#price').text(price + " €");
        }
        });

        $('#checkout-button').click(function (){
            var quantity = parseInt($('#quantity').val());
            var url = '{{ path('checkout_getShippingAdresse', {'id': article.id, 'amount': "quantity_value" })|escape('js') }}';
            url = url.replace("quantity_value",quantity);
            $('#checkout-button').attr("href", url);
        });
        </script>
{% endblock %}

