{% extends 'base.html.twig' %}

{% block title %}Joy Creation{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2 position-fixed">

            <div class="list-group">
                {% for category in categories %}
                    <a href="{{ path('category_show', {'id': category.id }) }}" class="list-group-item">{{ category.title }}</a>
                {% endfor %}
            </div>

        </div>


        <div class="col-10 offset-2">
            <!-- ======= About Me Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="section-title">
                        <span>Joy Creation</span>
                        <h2>Joy Creation</h2>
                    </div>

                    <div class="row" style="background-color: #fbf7f4">
                        <div class="image col-lg-4 d-flex align-items-stretch justify-content-center"></div>
                        <div class="col-lg-8 d-flex flex-column align-items-stretch justify-content-center">
                            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h1 style="color: #ff7171"> Fabrication Artisanale</h1><br><br>
                                        <h4 style="color: rgba(60,28,28,0.36)">Toute la collection proposée est réalisée dans l'est de la France en Alsace ! </h4><br>
                                        <h4 style="color: rgba(60,28,28,0.36)">Crée avec grand soin et amour, c'est l'occasion d'offrir des cadeaux uniques et fabriqués en France !</h4>
                                    </div>
                                </div>
                            </div><!-- End .content-->
                        </div>
                    </div>
                    <div class="row" style="background-color: #fbf7f4">
                        <div class="col-lg-8 d-flex flex-column align-items-stretch justify-content-center">
                            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h1 style="color: #ff7171"> Zéro déchet</h1><br><br>
                                        <h4 style="color: rgba(60,28,28,0.36)">Dans l'optique de proposer des produits durables et bons pour l'environnement vous retrouverez dans la boutique des produits conçus afin de réduire
                                        nos déchets et notre impact écologique.</h4>
                                    </div>
                                </div>
                            </div><!-- End .content-->
                        </div>
                        <div class="image col-lg-4 d-flex align-items-stretch justify-content-center"></div>
                    </div>

                </div>
            </section><!-- End About Me Section -->
        </div>

        <!-- /.row -->

    </div>
</div>
    <script src="{{ asset('css/purecounter/purecounter.js') }}"></script>
    {% endblock %}
