{% extends 'base.html.twig' %}
{% set user = app.user %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="{{ asset('css/user.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="main-content">
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello {{ user.getLastName }}</h1>
                        <p class="text-white mt-0 mb-5">Voici votre page de profil, ici vous pouvez modifier vos informations personnels ainsi que voir vos dernières commandes.</p>
                        {#                        <a href="#!" class="btn btn-info">Edit profile</a>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="card-body pt-0 pt-md-4">
                            <h2>Commandes en cours:</h2>
                            {% for commande in listeCommandes %}
                                {% if commande.statut == "Payée" %}
                                    <div class="card mb-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="card-img" src="{{asset( 'uploads/images/article/')}}{{ commande.article.image}}" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ commande.article.title }}</h5>
                                                    <p class="card-text">{{ commande.statut }}</p>
                                                    <p class="card-text">{{ commande.article.price * commande.amount/100 }}€</p>
                                                    <button class="btn" onclick="location.href = '{{ path('download_invoice', {"id": commande.sessionId}) }}'"><i class="fa fa-download"></i> Facture</button>
                                                    {#                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <hr class="my-4">
                            <h2>Commandes terminées:</h2>
                            {% for commande in listeCommandes %}
                                {% if commande.statut == "Terminée" %}
                                    <div class="card mb-3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="card-img" src="{{asset( 'uploads/images/article/')}}{{ commande.article.image}}" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ commande.article.title }}</h5>
                                                    <p class="card-text">{{ commande.statut }}</p>
                                                    <p class="card-text">{{ commande.article.price * commande.amount/100 }}€</p>
                                                    <button class="btn" onclick="location.href = '{{ path('download_invoice', {"id": commande.sessionId}) }}'"><i class="fa fa-download"></i> Facture</button>
                                                    {#                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Mon profil</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="heading-small text-muted mb-4">Utilisateur</h6>
                            {{ form_start(userForm) }}
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name">Nom</label>
                                            {{ form_widget(userForm.firstName) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-last-name">Prénom</label>
                                            {{ form_widget(userForm.lastName) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Téléphone</label>
                                            {{ form_widget(userForm.number) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Email</label>
                                            {{ form_widget(userForm.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="btn btn-sm btn-primary" type="submit">Sauvegarder</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(userForm) }}
                            <hr class="my-4">
                            <!-- Address -->
                            <div class="row">
                                <div class="col">
                                    <h6 class="heading-small text-muted mb-4">Adresse principale</h6>
                                </div>
                                <div class="dropdown text-right">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Mes autres adresses
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for adresse in app.user.adresses %}
                                            {% if adresse != app.user.defaultAddress %}
                                                <a class="dropdown-item" href="{{ path("user") }}">{{ adresse.street }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {{ form_start(shippingForm) }}
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Adresse</label>
                                            {{ form_widget(shippingForm.street) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city">Ville</label>
                                            {{ form_widget(shippingForm.city) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country">Pays</label>
                                            {{ form_widget(shippingForm.country) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Code postal</label>
                                            {{ form_widget(shippingForm.codePostal) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                        <button class="btn btn-sm btn-primary" type="submit">Sauvegarder</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(shippingForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

