{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('css/confimation.css') }}" rel="stylesheet">
{%  endblock %}

{% block body %}
    <div class="container wrapper">
        <div class="row cart-head">
            <div class="container">
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div style="display: table; margin: auto;">
                        <span class="step step_complete"> <a href="#" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
                        <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                        <span class="step_thankyou check-bc step_complete">Thank you</span>
                    </div>
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row cart-body">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <!--REVIEW ORDER-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Panier
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3">
                                    <img class="img-responsive" src="{{asset( 'uploads/images/article/')}}{{ commande.article.image}}" />
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="col-xs-12">{{ commande.article.title }}</div>
                                    <div class="col-xs-12"><small>Quantité:<span>{{ commande.article.amount }}</span></small></div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-right">
                                    <h6>{{ commande.article.price/100 }}<span> €</span></h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <hr>
                                    <strong>Sous-total</strong>
                                    <div class="pull-right"><span>{{ commande.article.price/100 }}</span><span> €</span></div>
                                </div>
                                <div class="col-xs-12">
                                    <small>Livraison</small>
                                    <div class="pull-right"><span>-</span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <hr>
                                    <strong>Total</strong>
                                    <div class="pull-right"><span>{{ commande.article.price/100 }}</span><span> €</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="checkout-button">Hello</button>
                    <!--REVIEW ORDER END-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <!--SHIPPING METHOD-->
                    {{ form_start(shippingForm) }}
                    {{ form_start(billingForm) }}
                    <div class="panel panel-info">
                        <div class="panel-heading">Adresses</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12"><strong>Email:</strong></div>
                                <div class="col-md-12"><input type="text" name="email_address" class="form-control" disabled="false" value="{{ app.user.email }}" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Téléphone:</strong></div>
                                <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="{{ app.user.number }}" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Adresse de livraison</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Nom:</strong>
                                    {{ form_widget(shippingForm.firstName, {'attr': {'disabled': 'false'}}) }}
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Prénom:</strong>
                                    {{ form_widget(shippingForm.lastName, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Adresse:</strong></div>
                                <div class="col-md-12">
                                    {{ form_widget(shippingForm.street, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Ville:</strong></div>
                                <div class="col-md-12">
                                    {{ form_widget(shippingForm.city, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Pays:</strong>
                                    {{ form_widget(shippingForm.country, {'attr': {'disabled': 'false'}}) }}
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Code Postale:</strong>
                                    {{ form_widget(shippingForm.codePostal, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Adresse de facturation</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Nom:</strong>
                                    {{ form_widget(billingForm.firstName, {'attr': {'disabled': 'false'}}) }}
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Prénom:</strong>
                                    {{ form_widget(billingForm.lastName, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Adresse:</strong></div>
                                <div class="col-md-12">
                                    {{ form_widget(billingForm.street, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Ville:</strong></div>
                                <div class="col-md-12">
                                    {{ form_widget(billingForm.city, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Pays:</strong>
                                    {{ form_widget(billingForm.country, {'attr': {'disabled': 'false'}}) }}
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Code Postale:</strong>
                                    {{ form_widget(billingForm.codePostal, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SHIPPING METHOD END-->
                </div>
        </div>
        {{ form_end(billingForm, {'render_rest': false}) }}
        {{ form_end(shippingForm, {'render_rest': false}) }}
        <div class="row cart-footer">

        </div>
    </div>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_MNEO6ty8yTmiLUmuaAuprTLS001rO0EvPp');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            var url = '{{ path('checkout', {'sessionId': commande.sessionId})|escape('js') }}';
            fetch(url, {
                method: 'POST',
            })
                .then(function(response) {
                    return response;
                })
                .then(function(session) {
                    {% if is_granted("ROLE_USER")  %}
                    return stripe.redirectToCheckout({ sessionId: session.headers.get('id') });
                    {%  else %}
                    window.location.href = '{{ path('app_login') }}'
                    {% endif %}
                })
                .then(function(result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>

{% endblock %}

