{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('css/confimation.css') }}" rel="stylesheet">
{%  endblock %}

{% block body %}
    <div class="container wrapper">
        <div class="row cart-head">
            <div class="container">
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <div style="display: table; margin: auto;">
                        <span class="step step_complete"> <a href="#" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
                        <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                        <span class="step_thankyou check-bc step_complete">Thank you</span>
                    </div>
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row cart-body">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <!--REVIEW ORDER-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Panier
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3">
                                    <img class="img-responsive" src="{{asset( 'uploads/images/article/')}}{{ article.image}}" />
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="col-xs-12">{{ article.title }}</div>
                                    <div class="col-xs-12"><small>Quantité:<span>{{ article.amount }}</span></small></div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-right">
                                    <h6>{{ article.price/100 }}<span> €</span></h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <hr>
                                    <strong>Sous-total</strong>
                                    <div class="pull-right"><span>{{ article.price/100 }}</span><span> €</span></div>
                                </div>
                                <div class="col-xs-12">
                                    <small>Livraison</small>
                                    <div class="pull-right"><span>-</span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <hr>
                                    <strong>Total</strong>
                                    <div class="pull-right"><span>{{ article.price/100 }}</span><span> €</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--REVIEW ORDER END-->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <!--SHIPPING METHOD-->
                    <div class="panel panel-info">
                        <div class="panel-heading">Adresses</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12"><strong>Email:</strong></div>
                                <div class="col-md-12"><input type="text" name="email_address" class="form-control" disabled="false" value="{{ app.user.email }}" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Adresse de livraison</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Nom:</strong>
                                    {{ form_widget(form.firstName, {'attr': {'disabled': 'false'}}) }}
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Prénom:</strong>
                                    {{ form_widget(form.lastName, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Adresse:</strong></div>
                                <div class="col-md-12">
                                    {{ form_widget(form.street, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Ville:</strong></div>
                                <div class="col-md-12">
                                    {{ form_widget(form.city, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-xs-12">
                                    <strong>Pays:</strong>
                                    {{ form_widget(form.country, {'attr': {'disabled': 'false'}}) }}
                                </div>
                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <strong>Code Postale:</strong>
                                    {{ form_widget(form.codePostal, {'attr': {'disabled': 'false'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Téléphone:</strong></div>
                                <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="{{ app.user.number }}" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Adresse de livraison</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SHIPPING METHOD END-->
                </div>
        </div>
        {{ form_end(form) }}
        <div class="row cart-footer">

        </div>
    </div>
{% endblock %}

