{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/shipping.css') }}"
{% endblock %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="card bg-default mb-3">
                    <div class="card-header thin-card-header">
                        <div class="card-title">
                            <ul class="card-toolbar">
                                <li class="float-left">
                                    <h4 style="font-family:Poppins, sans-serif"><i class="fa fa-map-marker"></i> Adresses</h4>
                                </li>
                                <li class="float-right">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Mes adresses
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% for adresse in app.user.adresses %}
                                                {% if shipping %}
                                                    <a class="dropdown-item" href="{{ path('getShippingAdresse',{'street': adresse.street, 'sessionId': form.children["sessionId"].vars["value"]}) }}">{{ adresse.street }}</a>
                                                {% else %}
                                                    <a class="dropdown-item" href="{{ path('getBillingAdresse',{'street': adresse.street, 'sessionId': form.children["sessionId"].vars["value"]}) }}">{{ adresse.street }}</a>

                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="textinput">Nom</label>
                                    {{ form_widget(form.firstName) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="textinput">Prénom</label>
                                    {{ form_widget(form.lastName) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="textinput">Adresse</label>
                                    {{ form_widget(form.street) }}
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="textinput">Ville</label>
                                    {{ form_widget(form.city) }}
                                </div>
                                <!-- Text input-->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label" for="textinput">Pays</label>
                                            {{ form_widget(form.country) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label" for="textinput">Code Postale</label>
                                            {{ form_widget(form.codePostal) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {% if shipping %}
                                <div class="text-left">
                                    {{ form_row(form.differentBillingAddress) }}
                                </div>
                            {% endif %}
                            <div id="submit" class="text-right">
                                {#                                    <button type="submit" class="btn btn-default"><i class="fa fa-remove"></i> Cancel</button>#}
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                        {{ form_row(form.sessionId) }}
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

